* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  text-align: center;
  line-height: 50px;
}

h1 {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.box {
  text-align: center;
}

.d-none{
  display: none;
}
